In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

## Simple Linear Regression Model to predict student scores based on study hours

In [3]:
df = pd.read_csv('C:/Users/Guru Kiran/Downloads/score.csv')
df.head(5)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0

In [4]:
df.isnull().sum()

Hours     0
Scores    2
dtype: int64

In [5]:
df.dropna(inplace=True,axis=0)
df.head(5)

   Hours  Scores
0    2.5    21.0
1    5.1    47.0
2    3.2    27.0
3    8.5    75.0
4    3.5    30.0

In [6]:
df.isnull().sum()

Hours     0
Scores    0
dtype: int64

In [7]:
df.shape

(23, 2)

In [8]:
Y = df['Scores']
X = df.drop('Scores',axis=1)

In [9]:

# Split the data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [11]:
lr = LinearRegression()
model = lr.fit(x_train,y_train)
y_pred = model.predict(x_test)

In [12]:
df = pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
df

    y_test     y_pred
4     30.0  37.059929
5     20.0  16.995587
19    69.0  76.185395
18    67.0  63.143573
9     25.0  29.034192
6     88.0  94.243303

In [13]:
print("The MSE is : ", mean_squared_error(y_test,y_pred))
print("The R square is : ", r2_score(y_test, y_pred))

The MSE is :  30.10409275131876
The R square is :  0.9550554746797381

## Multiple Linear Regression using Boston house price prediction

In [40]:
df=pd.read_csv('C:/Users/Guru Kiran/Downloads/Boston.csv')
df.head(5)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [42]:
x = df.drop('medv',axis=1)
y = df['medv']

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=5)

In [44]:
lr = LinearRegression()
model = lr.fit(X_train,Y_train)
y_pred = model.predict(X_test)

In [49]:
print("The RMSE is : ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("The R2 score is : ", r2_score(y_test, y_pred))

The RMSE is :  4.6017542750827145
The R2 score is :  0.7295300033236576

In [55]:
y_pred = model.predict(x_test)

In [56]:
print("The RMSE is : ",np.sqrt(mean_squared_error(y_test,y_pred)))
print("The R2 score is : ", r2_score(y_test, y_pred))

The RMSE is :  4.6017542750827145
The R2 score is :  0.7295300033236576

## Evaluation metrics

In [57]:
y_pred = model.predict(x_test)

# Metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("MSE:", mse)
print("RMSE:", rmse)
print("R² Score:", r2)

MSE: 21.176142408242043
RMSE: 4.6017542750827145
R² Score: 0.7295300033236576