# 1) Creating a DataFrame

In [2]:
import pandas as pd

data={
    "ID":[1,2,3,4,5,6],
    "Name":['Riya','Arjun','Sneha','Rakesh','Aditi','manu'],
    "Age":[17,18,17,19,18,12],
    "Marks_Math":[88,75,90,65,95,23],
    "Marks_English":[92,85,89,78,70,5],
    "Gender":['F','M','F','M','F','F']
}
df=pd.DataFrame(data)
print(df)

   ID    Name  Age  Marks_Math  Marks_English Gender
0   1    Riya   17          88             92      F
1   2   Arjun   18          75             85      M
2   3   Sneha   17          90             89      F
3   4  Rakesh   19          65             78      M
4   5   Aditi   18          95             70      F
5   6    manu   12          23              5      F

In [4]:
df.shape

(6, 6)

# 2) Display only the names and English marks of all students.

In [5]:
td=(df[["Name",'Marks_English']])
print(td)

     Name  Marks_English
0    Riya             92
1   Arjun             85
2   Sneha             89
3  Rakesh             78
4   Aditi             70
5    manu              5

# 3) Add a new column "Total_Marks" as the sum of marks math and marks_english

In [6]:
df["Total_Marks"]=df["Marks_Math"]+df["Marks_English"]
print(df["Total_Marks"])

0    180
1    160
2    179
3    143
4    165
5     28
Name: Total_Marks, dtype: int64

# 4) find the Average marks in math using pandas function

In [7]:
td=df["Marks_Math"].mean()
print(td)

72.66666666666667

# 5) Display the records of all female students.

In [8]:
td=(df[df["Gender"]=='F'])
print(td)

   ID   Name  Age  Marks_Math  Marks_English Gender  Total_Marks
0   1   Riya   17          88             92      F          180
2   3  Sneha   17          90             89      F          179
4   5  Aditi   18          95             70      F          165
5   6   manu   12          23              5      F           28

# 6) Sort the DataFrame by Marks_English in desending order.

In [9]:
sd=df["Marks_Math"].sort_values(ascending=False)
print(sd)

4    95
2    90
0    88
1    75
3    65
5    23
Name: Marks_Math, dtype: int64

# 7) Replace the gender values : "F" "Female", "M" "Male" using map().

In [10]:

Gen=df["Gender"].map({"F":"Female","M":"Male"})
print(Gen)

0    Female
1      Male
2    Female
3      Male
4    Female
5    Female
Name: Gender, dtype: object

# 8) Add a new column Result with value "Pass" if Total_Marks >= 150, else "Fail" (Using apply()with lambda).

In [11]:
ge=df["Total_Marks"].apply(lambda x : "Pass" if x >=150 else 'Fail')
print(ge)

0    Pass
1    Pass
2    Pass
3    Fail
4    Pass
5    Fail
Name: Total_Marks, dtype: object

# 9) Use Map() to convert all names to Upper case from the Name column.

In [12]:
na=df["Name"].map(str.upper)
print(na)

0      RIYA
1     ARJUN
2     SNEHA
3    RAKESH
4     ADITI
5      MANU
Name: Name, dtype: object

# 10) Use filter get list of students whose Marks_Math is grater then 80.

In [13]:
def get(a):
    if a>80:
        return True
l1=df["Marks_Math"]
res=list(filter(get,l1))
res

[88, 90, 95]

# 11) Use lambda to create a new column.

In [14]:
# 1) A if Total_Marks > 170

fd=df["Grade"]=df["Total_Marks"].apply(lambda x: "A" if x >170 else  "C")
print(fd)

0    A
1    C
2    A
3    C
4    C
5    C
Name: Total_Marks, dtype: object

In [15]:
# 2) B if Total_Marks >150

fg=df["Grade"]=df["Total_Marks"].apply(lambda x: "B" if x > 150 else "C")
print(fg)

0    B
1    B
2    B
3    C
4    B
5    C
Name: Total_Marks, dtype: object

# 12) Use reduce() to calculate the total of all Math marks.

In [16]:
from functools import reduce
tm=reduce(lambda x,y: x + y, df['Marks_Math'])
print(tm)

436

# 13) Count how many students are below the age of 18.

In [17]:
def gef(a):
    if a<18:
        return True
l1=(df["Age"])
res=list(filter(gef,l1))
print(res)

[17, 17, 12]

# 14) Create a new column average which gives average of both subjects.

In [18]:
nc=df["Marks_Math"].mean() ,df["Marks_English"].mean()
print(nc)

(72.66666666666667, 69.83333333333333)

# 15) Display Names of students whose scored more in English than math.

In [19]:
em= df['Marks_English'] > df["Marks_Math"]
print(em,df["Name"])

0     True
1     True
2    False
3     True
4    False
5    False
dtype: bool 0      Riya
1     Arjun
2     Sneha
3    Rakesh
4     Aditi
5      manu
Name: Name, dtype: object

# 16) group students by gender and calculate average marks for each gender.

In [20]:
ag=df.groupby("Gender")[['Marks_Math' , "Marks_English" , "Total_Marks"]].mean()
print(ag)

        Marks_Math  Marks_English  Total_Marks
Gender
F             74.0           64.0        138.0
M             70.0           81.5        151.5

# 17) Find the student with the higest total marks using Pandas.

In [21]:
st=df.loc[df["Total_Marks"].idxmax()]
print(st)

ID                  1
Name             Riya
Age                17
Marks_Math         88
Marks_English      92
Gender              F
Total_Marks       180
Grade               B
Name: 0, dtype: object